<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <%- body %>
  </body>
</html>